set scrolloff=10
set relativenumber
set incsearch
map Q gq

let mapleader = " "
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set NERDTree

set visualbell

set clipboard+=unnamed

" actions
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>m <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nmap <leader>bb <action>(ToggleLineBreakpoint)

nmap <leader>rd <action>(Debug)
nmap <leader>rr <action>(Run)
nmap <leader>rs <action>(Stop)
nmap <leader>rx <action>(Exit)

nnoremap <leader><leader> <C-Tab>
nnoremap <leader>m <C-M>
nnoremap <leader>pf :action GotoFile<CR>

nmap <leader>gd :action GotoImplementation<CR>

nmap <leader>n :NERDTree<CR>
nmap <leader>nf :NERDTreeFind<CR>
nmap <leader>nt :NERDTreeToggle<CR>

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
